.App {
  text-align: center;
  padding: 20px;
}
img{
  display: flex;
}
/* src/components/ImageGallery.css */

.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust column width as needed */
  gap: 20px; /* Adjust gap between images */
}

.image-gallery img {
  width: 100%; /* Ensure images fill their grid cells */
  height: auto; /* Maintain aspect ratio */
}
.image-gallery button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 500px;
}

.image-gallery button:hover {
    background-color: #0056b3;
}

.performance-analysis {
    margin-top: 40px;
}

.performance-analysis h2 {
    text-align: center;
}

.performance-analysis ul {
    list-style-type: none;
    padding: 0;
}

.performance-analysis li {
    margin-bottom: 10px;
}